.container {
   background: #000a;
   height: 550px;
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow-y: scroll;
}

.container::-webkit-scrollbar {
   background: rgb(13, 23, 36);
   width: 10px;
}

.container::-webkit-scrollbar-thumb {
   background: rgb(90, 91, 92);
   border-radius: 20px;
}
