/* TODO menu */
/* ! this code will be removed later for the container */
#menu {
   background: #000b;
   height: 550px;
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow-y: scroll;
}

#menu::-webkit-scrollbar {
   background: rgb(13, 23, 36);
}

#menu::-webkit-scrollbar-thumb {
   background: rgb(90, 91, 92);
   border-radius: 20px;
}

.sub-menu {
   height: 100%;
   display: grid;
   place-content: center;
   gap: 40px;
   grid-template: auto auto / auto auto;
}

.food {
   color: #fff;
   border: 1px solid white;
   height: 160px;
   width: 160px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
   transition: 0.2s;
}

.food:hover {
   background: #fff2;
}

.food img {
   height: 70px;
   width: 70px;
}

.food .price {
   font-size: 2rem;
   font-weight: bold;
}
