#menu {
   height: 100%;
}

.sub-menu {
   height: 100%;
   display: grid;
   place-content: center;
   gap: 40px;
   grid-template: auto auto / auto auto;
}

.food {
   color: #fff;
   border: 1px solid white;
   height: 160px;
   width: 160px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
   transition: 0.2s;
}

.food:hover {
   background: #fff2;
}

.food img {
   height: 70px;
   width: 70px;
}

.food .price {
   font-size: 2rem;
   font-weight: bold;
}
