nav {
   background: rgb(247, 203, 107, 1);
   color: #554348;
   height: 68px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -2;
}

ul {
   padding: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   font-size: 1.5rem;
}

ul .middle-elements {
   display: flex;
   justify-content: space-between;
   width: 450px;
}

nav li {
   cursor: pointer;
   position: relative;
   overflow: hidden;
   border-radius: 20px;
   z-index: 1;
   padding: 5px 30px;
   transition: 0.2s;
}

nav li:hover {
   background: #fff;
}
