@font-face {
   font-family: tangerine;
   src: url("../assets/TangerineBold.ttf"),
      url("../assets/TangerineRegular.ttf");
}

* {
   box-sizing: border-box;
   margin: 0;
   font-family: sans-serif;
}

html,
body {
   height: 100%;
}

body {
   background: center/cover no-repeat fixed;
   background-image: linear-gradient(to right, #0003, #0003),
      url("../assets/background.jpg");
}
